<h1 class="title has-text-centered">Vista Place</h1>
   <h2 class="subtitle has-text-centered">Architecture / Landscape / Art</h2>
    <img src="/images/elevation.png">
<div class="columns">
    <div class="column">
       <p class="subtitle">Architecture</p>
        {{> lorem}}
    </div>
    <div class="column">
       <p class="subtitle">Landscape</p>
        {{> lorem}}
    </div>
    <div class="column">
       <p class="subtitle">Art</p>
        {{> lorem}}
    </div>
</div>