<div class="title has-text-centered">Neighborhood</div>
<div class="columns">
    <div class="column">
        <img src="/images/map.jpg">
    </div>
    <div class="column">
        <h1 class="subtitle">Area Highlights</h1>
        <p>Forest Park / Cortex / Botanical Heights / St. Louis Art Museum / Washington University / St. Louis Zoo / Barnes Jewish Hospital / Rise Coffee Shop / St. Louis University / The Grove / Central West End / Tower Grove Park / Urban Chestnut Brewery / South Grand / Missouri Botanical Gardens</p>
    </div>
</div>